{% extends 'base.html.twig' %}

{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div class="sidebar" style="display:none;" id="sidebar">
		<button onclick="closeSidebar()" class="button">
			<iconify-icon icon="charm:cross"></iconify-icon>
		</button>
		<a href="{{path('app_register')}}" class="bar-item">S’inscrire</a>
		<a href="{{path('app_login')}}" class="bar-item">Se connecter</a>
	</div>
	<div class="filtrer-recherche">
		<a href="{{path('app_accueil')}}">
			<iconify-icon id="arrow" icon="fe:arrow-left"></iconify-icon>
		</a>
		<h1>Toilettes</h1>
		<div class="identify" onclick="openSidebar()">
			<iconify-icon id="person" icon="charm:person"></iconify-icon>
		</div>
	</div>
	<div class="container-mdp">
		<h1>Mot de passe oublié</h1>
		{{ form_start(requestForm) }}
		{{ form_row(requestForm.email,{
            label: 'E-mail'
        }) }}
		<div>
			<small>
				Indiquez votre adresse e-mail ici. 
				Vous recevrez un e-mail avec un lien pour mettre à jour votre mot de passe.
			</small>
		</div>

		<button class="btn btn-primary button2">Valider</button>
		{{ form_end(requestForm) }}
	</div>
{% endblock %}
