{% extends 'base.html.twig' %}

{% block title %}Hello SuppressionController!
{% endblock %}

{% block body %}
	<div class="sidebar" style="display:none;" id="sidebar">
		<button onclick="closeSidebar()" class="button">
			<iconify-icon icon="charm:cross"></iconify-icon>
		</button>
		<a href="{{path('app_comment_index')}}" class="bar-item">Voir tous vos commentaires</a>
		<a href="{{path('app_modification_password',{'uid':utilisateur.id})}}" class="bar-item">Modifier votre mot de passe</a>
		<a href="{{path('app_suppression')}}" class="bar-item">Supprimer votre compte</a>
		<a href="{{ path('app_logout') }}" class="bar-item">Se déconnecter</a>
	</div>
	<div class="filtrer-recherche">
		<a href="{{path('app_utilisateur_accueil')}}">
			<iconify-icon id="arrow" icon="fe:arrow-left"></iconify-icon>
		</a>
		<h1>Toilettes</h1>
		<div class="identify" onclick="openSidebar()">
			<h1>{{utilisateur.nom|first|upper}}</h1>
		</div>
	</div>
	<div class="container-mdp">
		<h2>Suppression du compte</h2>
		<form>
			<div class="form-checkbox">

				<label class="" for="check5"><input type="checkbox" id="check5" onclick="buttonActive()">supprimer
					          mes commentaires et mes notes</label>
			</div>
			<div class="form-checkbox">

				<label class="" for="check6"><input type="checkbox" id="check6" onclick="buttonActive()">ne plus voir les autres
					          commentaires
					          et les autres notes</label>
			</div>

		</form>
		{{ include('utilisateur/utilisateur/_delete_form.html.twig') }}
		<a href="{{path('app_utilisateur_accueil')}}">Annuler</a>
	</div>
{% endblock %}
