{% extends 'base.html.twig' %}

{% block body %}
	<div class="sidebar" style="display:none;" id="sidebar">
		<button onclick="closeSidebar()" class="button">
			<iconify-icon icon="charm:cross"></iconify-icon>
		</button>
		{% if is_granted('ROLE_MODERATION') %}
			<a href="{{path('app_moderation_controller')}}" class="bar-item">MODERATION</a>
		{% endif %}
		<a href="{{path('app_comment_index')}}" class="bar-item">Voir tous vos commentaires</a>
		<a href="{{path('app_modification_password',{'uid':utilisateur.id})}}" class="bar-item">Modifier votre mot de passe</a>
		<a href="{{path('app_suppression')}}" class="bar-item">Supprimer votre compte</a>
		<a href="{{ path('app_logout') }}" class="bar-item">Se déconnecter</a>
	</div>
	<div class="filtrer-recherche">
		<form action="{{ path('app_utilisateur_accueil') }}" method="GET">
			<iconify-icon id="serch" icon="fluent:search-12-filled"></iconify-icon>
			<input type="text" name="searchValue" value="{{ searchValue }}" placeholder="Code postal ou nom" id="recherche">
		</form>
		<div class="identify" onclick="openSidebar()">
			<h1>{{utilisateur.nom|first|upper}}</h1>
		</div>
	</div>
	<div class="list">
		<div class="filtrer-note" id="clear-filter">
			<input id="review05" type="radio" name="review" value="5"><label for="review05" class="radio_label">★</label>
			<input id="review04" type="radio" name="review" value="4"><label for="review04" class="radio_label">★</label>
			<input id="review03" type="radio" name="review" value="3"><label for="review03" class="radio_label">★</label>
			<input id="review02" type="radio" name="review" value="2"><label for="review02" class="radio_label">★</label>
			<input id="review01" type="radio" name="review" value="1"><label for="review01" class="radio_label">★</label>
		</div>
		{% for toilette in toilettes %}
			<a href="{{ path('app_utilisateur_info',{'tid':toilette.uid})}}">
				<div class="nom note_filtre" data-note={{moyenNotes[toilette.uid]}}>
					<p>{{toilette.nom}}</p>
					<div class="star">
						{% if moyenNotes[toilette.uid] == -1 %}
							<p>Ajouter un commentaire</p>
						{% elseif moyenNotes[toilette.uid] == 0 %}
							{% for _ in 1..5 %}
								<iconify-icon class="s-no-filter-star" icon="ion:star"></iconify-icon>
							{% endfor %}
						{% elseif moyenNotes[toilette.uid] == 5 %}
							{% for _ in 1..moyenNotes[toilette.uid] %}
								<iconify-icon class="s-filter-star" icon="ion:star"></iconify-icon>
							{% endfor %}
						{% else %}
							{% for _ in 1..moyenNotes[toilette.uid] %}
								<iconify-icon class="s-filter-star" icon="ion:star"></iconify-icon>
							{% endfor %}
							{% for _ in 1..5-moyenNotes[toilette.uid] %}
								<iconify-icon class="s-no-filter-star" icon="ion:star"></iconify-icon>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</a>
		{% endfor %}

	</div>
{% endblock %}
