{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="form">
		<div class="filtrer-recherche">
			<a href="{{path('app_accueil')}}">
				<iconify-icon id="arrow" icon="fe:arrow-left"></iconify-icon>
			</a>
		</div>
		{{ form_errors(registrationForm) }}
		{{ form_start(registrationForm) }}
		<div class="form-inscription">
			<h1>Inscription</h1>
			{{ form_row(registrationForm.nom,{
            label: 'nom'
        }) }}
			{{ form_row(registrationForm.email,{
            label: 'e-mail'
        }) }}
				{{ form_row(registrationForm.plainPassword) }}
				<iconify-icon id="eye" icon="mdi:eye"></iconify-icon>
		</div>
		<button class="button1" type="submit" class="btn">créer</button>
		{{ form_end(registrationForm) }}

	</div>
</div>{% endblock %}
