<div class="con-form">
				<i class="fa fa-eye" id="eye1" aria-hidden="true" onclick="togglePassword1()"></i>
				{{ form_label(form.password.first) }}
				{{ form_widget(form.password.first,{
            id: 'inputPassword1'
        }) }}
			</div>
			<div class="con-form">
				<i class="fa fa-eye" id="eye2" aria-hidden="true" onclick="togglePassword2()"></i>
				{{ form_label(form.password.second) }}
				{{ form_widget(form.password.second,{
            id: 'inputPassword2'
        }) }}
			</div>
<button class="btn button2">{{ button_label|default('Update') }}</button>
