<div class="info">
	<div class="nom-star">
		<p>Nom</p>
		<div class="star" style="visibility:hidden" ;>
			<iconify-icon class="filter-star" icon="ion:star"></iconify-icon>
			<iconify-icon class="filter-star" icon="ion:star"></iconify-icon>
			<iconify-icon class="filter-star" icon="ion:star"></iconify-icon>
			<iconify-icon class="no-filter-star" icon="ion:star"></iconify-icon>
			<iconify-icon class="no-filter-star" icon="ion:star"></iconify-icon>
		</div>
	</div>
	<h1>{{toilette.nom}}</h1>
	<p>Note</p>
	<div class="filtrer-note">
			<input id="review5" type="radio" name="review" value="5"><label for="review5" class="radio_label">★</label>
			<input id="review4" type="radio" name="review" value="4"><label for="review4" class="radio_label">★</label>
			<input id="review3" type="radio" name="review" value="3"><label for="review3" class="radio_label">★</label>
			<input id="review2" type="radio" name="review" value="2"><label for="review2" class="radio_label">★</label>
			<input id="review1" type="radio" name="review" value="1"><label for="review1" class="radio_label">★</label>
			<input id="review0" type="radio" name="review" value="0"><label for="review0" class="radio_label">☆</label>
	</div>
	{{ form_start(form) }}
	{{ form_row(form.note) }}
	{{ form_row(form.enPanne,{
            label: 'En panne'
        }) }}
	{{ form_row(form.nExistePlus,{
            label: "N'existe plus"
        }) }}
	{{ form_row(form.accesHandicape,{
            label: 'Accès handicapé'
        }) }}
	<div class="form-checkbox">
		<label for="check4">Autre</label>
		<input type="checkbox" id="check4" onchange="activateTextarea()">
	</div>
	{{ form_widget(form.commentaire) }}
</div>
<button class="btn button2">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
