{% extends 'base.html.twig' %}

{% block title %}Edit Comment
{% endblock %}

{% block body %}
	<div class="sidebar" style="display:none;" id="sidebar">
		<button onclick="closeSidebar()" class="button">
			<iconify-icon icon="charm:cross"></iconify-icon>
		</button>
		<a href="{{path('app_comment_index')}}" class="bar-item">Voir tous vos commentaires</a>
		<a href="{{path('app_modification_password',{'uid':utilisateur.id})}}" class="bar-item">Modifier votre mot de passe</a>
		<a href="{{path('app_suppression')}}" class="bar-item">Supprimer votre compte</a>
		<a href="{{ path('app_logout') }}" class="bar-item">Se déconnecter</a>
	</div>
	<div class="filtrer-recherche">
		<a href="{{path('app_utilisateur_accueil')}}">
			<iconify-icon id="arrow" icon="fe:arrow-left"></iconify-icon>
		</a>
		<h1>Toilettes</h1>
		<div class="identify" onclick="openSidebar()">
			<h1>{{utilisateur.nom|first|upper}}</h1>
		</div>
	</div>
	<div class="container">

		{{ include('utilisateur/comment/_form.html.twig', {'button_label': 'Update'}) }}

		{{ include('utilisateur/comment/_delete_form.html.twig') }}
	</div>

{% endblock %}
