{% extends 'base.html.twig' %}

{% block title %}Commentaire
{% endblock %}

{% block body %}
	<div class="sidebar" style="display:none;" id="sidebar">
		<button onclick="closeSidebar()" class="button">
			<iconify-icon icon="charm:cross"></iconify-icon>
		</button>
		<a href="{{ path('app_comment_index') }}" class="bar-item">Voir tous vos commentaires</a>
		<a href="{{path('app_modification_password',{'uid':utilisateur.id})}}" class="bar-item">Modifier votre mot de passe</a>
		<a href="{{ path('app_suppression') }}" class="bar-item">Supprimer votre compte</a>
		<a href="{{ path('app_logout') }}" class="bar-item">Se déconnecter</a>
	</div>
	<div class="filtrer-recherche">
		<a href="{{path('app_utilisateur_accueil')}}">
			<iconify-icon id="arrow" icon="fe:arrow-left"></iconify-icon>
		</a>
		<h1>Toilettes</h1>
		<div class="identify" onclick="openSidebar()">
			<h1>{{utilisateur.nom|first|upper}}</h1>
		</div>
	</div>
	<div class="container">
		{% for comment in comments %}
			<div class="list-commentaire">
				<a href="{{ path('app_comment_edit',{'cid':comment.id})}}">
					<div class="i-date">
						<h2>{{ toiletById[comment.idToilette].nom }}</h2>
						<p>{{ comment.dateCommentaire|date('Y-m-d')}}</p>
					</div>
					<div
						class="star">
						{% if comment.note == 0 %}
							{% for _ in 1..5 %}
								<iconify-icon class="s-no-filter-star" icon="ion:star"></iconify-icon>
							{% endfor %}
						{% else %}
							{% for _ in 1..comment.note %}
								<iconify-icon class="s-filter-star" icon="ion:star"></iconify-icon>
							{% endfor %}
							{% if comment.note < 5 %}
								{% for _ in 1..5-comment.note %}
									<iconify-icon class="s-no-filter-star" icon="ion:star"></iconify-icon>
								{% endfor %}
							{% endif %}
						{% endif %}

					</div>
					<div class="check-commentaire">
						{% if comment.enPanne == 1 %}
							<p>en panne</p>
						{% endif %}
						{% if comment.nExistePlus == 1 %}
							<p>n'existe plus</p>
						{% endif %}
						{% if comment.accesHandicape == 1 %}
							<p>accès handicapé</p>
						{% endif %}
					</div>
					<p>{{comment.commentaire}}</p>
				</a>
			</div>
		{% else %}
			<p>Vous n'avez pas encore écrit de commentaire.</p>
		{% endfor %}

	</div>

{% endblock %}
