{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comment index</h1>

	 <table class="table">
		<thead>
			<tr>
				<th>Identifiant</th>
				<th>Note</th>
				<th>En panne ?</th>
				<th>N'existe plus</th>
				<th>Accès handicapé ?</th>
				<th>Commentaire</th>
				<th>Date du commentaire</th>
				<th>Id_toilette</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for comment in comments %}
				<tr>
					<td>{{ comment.id }}</td>
					<td>{{ comment.note }}</td>
					<td>{{ comment.enPanne }}</td>
					<td>{{ comment.nExistePlus }}</td>
					<td>{{ comment.accesHandicape }}</td>
					<td>{{ comment.commentaire }}</td>
					<td>{{ comment.dateCommentaire|date('Y-m-d')}}</td>
					<td>{{ comment.idToilette }}</td>
					<td>
						<a href="{{ path('app_moderation_comment_show', {'id': comment.id}) }}">Afficher</a>
						<a href="{{ path('app_moderation_comment_edit', {'id': comment.id}) }}">Cacher</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">Aucun commentaire trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_moderation_comment_new') }}">Créer un nouveau commentaire</a> 
{% endblock %}
