{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
    <h1>Comment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ comment.note }}</td>
            </tr>
            <tr>
                <th>En_panne</th>
                <td>{{ comment.en_panne }}</td>
            </tr>
            <tr>
                <th>N_existe__plus</th>
                <td>{{ comment.n_existe__plus }}</td>
            </tr>
            <tr>
                <th>Acces_handicape</th>
                <td>{{ comment.acces_handicape }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ comment.commentaire }}</td>
            </tr>
            <tr>
                <th>Date_commentaire</th>
                <td>{{ comment.date_commentaire|date('Y-m-d')}}</td>
            </tr>
            <tr>
                <th>Id_toilette</th>
                <td>{{ comment.id_toilette }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_moderation_comment_index') }}">back to list</a>

    <a href="{{ path('app_moderation_comment_edit', {'id': comment.id}) }}">edit</a>

    {{ include('moderation/comment/_delete_form.html.twig') }}
{% endblock %}
