{% extends 'base.html.twig' %}

{% block body %}
	<div class="sidebar" style="display:none;" id="sidebar">
		<button onclick="closeSidebar()" class="button">
			<iconify-icon icon="charm:cross"></iconify-icon>
		</button>
		<a href="{{path('app_register')}}" class="bar-item">S’inscrire</a>
		<a href="{{path('app_login')}}" class="bar-item">Se connecter</a>
	</div>
	<div class="filtrer-recherche">
		<form action="{{ path('app_accueil') }}" method="GET">
			<iconify-icon id="serch" icon="fluent:search-12-filled"></iconify-icon>
			<input type="text" name="searchValue" value="{{ searchValue }}" placeholder="Code postal ou nom" id="recherche">
		</form>
		<div class="identify">
			<iconify-icon id="person" icon="charm:person" onclick="openSidebar()"></iconify-icon>
		</div>
	</div>
	<div class="list">
		<div class="filtrer-note"></div>
		{% for toilette in toilettes %}
			<a href="{{ path('app_info',{'tid':toilette.uid})}}">
				<div class="nom">
					<p>{{toilette.nom}}</p>
				</div>
			</a>
		{% endfor %}
	</div>

{% endblock %}
