{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}
	<div class="sidebar" style="display:none;" id="sidebar">
		<button onclick="closeSidebar()" class="button">
			<iconify-icon icon="charm:cross"></iconify-icon>
		</button>
		<a href="{{path('app_connexion')}}" class="bar-item">Se connecter</a>
		<a href="{{path('app_login')}}" class="bar-item">S’inscrire</a>
	</div>
	<div class="filtrer-recherche">
		<form action="{{ path('app_accueil') }}" method="GET">
			<iconify-icon id="serch" icon="fluent:search-12-filled"></iconify-icon>
			<input type="text" name="searchValue" value="{{ searchValue }}" placeholder="codepostal ou nom" id="recherche">
		</form>
		<div class="identify">
			<iconify-icon id="person" icon="charm:person" onclick="openSidebar()"></iconify-icon>
		</div>
	</div>
		<div class="list">
		<div class="filtrer-note"></div>
			{% for toilette in toilettes %}
				<div class="nom">
					<a href="{{ path('app_info',{'id':toilette.uid})}}">
						<p>{{toilette.nom}}</p>
					</a>
				</div>
			{% endfor %}
		</div>
	{# <div class="gra"></div>  #}
		
{% endblock %}
