{% extends 'base.html.twig' %}

{% block title %}Hello InfoController!
{% endblock %}

{% block body %}
	<div class="sidebar" style="display:none;" id="sidebar">
		<button onclick="closeSidebar()" class="button">
			<iconify-icon icon="charm:cross"></iconify-icon>
		</button>
		<a href="{{path('app_comment_index')}}" class="bar-item">Voir tous vos commentaires</a>
		<a href="{{path('app_register')}}" class="bar-item">Modifier votre mot de passe</a>
		<a href="{{path('app_suppression')}}" class="bar-item">Supprimer votre compte</a>
		<a href="{{ path('app_logout') }}" class="bar-item">Se déconnecter</a>
	</div>
	<div class="filtrer-recherche">
		<a href="{{path('app_utilisateur_accueil')}}">
			<iconify-icon id="arrow" icon="fe:arrow-left"></iconify-icon>
		</a>
		<h1>Toilettes</h1>
		<div class="identify" onclick="openSidebar()">
			<h1>{{utilisateur.nom|first|upper}}</h1>
		</div>
	</div>
	<div class="container">
		<div class="info">
			<div class="nom-star">
				<p>Nom</p>
				<div class="star">
					<iconify-icon class="filter-star" icon="ion:star"></iconify-icon>
					<iconify-icon class="filter-star" icon="ion:star"></iconify-icon>
					<iconify-icon class="filter-star" icon="ion:star"></iconify-icon>
					<iconify-icon class="no-filter-star" icon="ion:star"></iconify-icon>
					<iconify-icon class="no-filter-star" icon="ion:star"></iconify-icon>
				</div>
			</div>
			<h1>{{toilette.nom}}</h1>
			<p>Adresse / Code postal</p>
			<h2>{{toilette.adresse}}</h2>
			<h2>{{toilette.codepost}}</h2>
			<p>informations</p>
			<h2>{{toilette.infoloc}}</h2>
			<div class="com-btn">
				<p>commentaire</p>
				<a href="{{path('app_comment_edit', {'tid': toilette.uid })}}" class="button3">Modifier</a>
				<a href="{{path('app_comment_new')}}" class="button3">Ajouter</a>

			</div>
		</div>
		{% for comment in comments %}
			<div class="commentaire">
				<div class="i-date">
					<div class="small-identify">
						<h4>{{comment.id_utilisateur.nom|first|upper}}</h4>
					</div>
					<h4>{{comment.date_commentaire|date('Y-m-d')}}</h4>
					<div class="star">
						<iconify-icon class="s-filter-star" icon="ion:star"></iconify-icon>
						<iconify-icon class="s-filter-star" icon="ion:star"></iconify-icon>
						<iconify-icon class="s-filter-star" icon="ion:star"></iconify-icon>
						<iconify-icon class="s-no-filter-star" icon="ion:star"></iconify-icon>
						<iconify-icon class="s-no-filter-star" icon="ion:star"></iconify-icon>
					</div>
				</div>
				<div class="check-commentaire">
					{% if comment.en_panne == 1 %}
						<p>en panne</p>
					{% endif %}
					{% if comment.n_existe__plus == 1 %}
						<p>n'existe plus</p>
					{% endif %}
					{% if comment.acces_handicape == 1 %}
						<p>n'existe plus</p>
					{% endif %}
				</div>
				<p>{{comment.commentaire}}</p>
			</div>
		{% endfor %}
	</div>
</div>{% endblock %}
