{% extends 'base.html.twig' %}

{% block body %}
	<div class="sidebar" style="display:none;" id="sidebar">
		<button onclick="closeSidebar()" class="button">
			<iconify-icon icon="charm:cross"></iconify-icon>
		</button>
		<a href="{{path('app_comment_index')}}" class="bar-item">Voir tous vos commentaires</a>
		<a href="{{path('app_modification_password',{'uid':utilisateur.id})}}" class="bar-item">Modifier votre mot de passe</a>
		<a href="{{path('app_suppression')}}" class="bar-item">Supprimer votre compte</a>
		<a href="{{ path('app_logout') }}" class="bar-item">Se déconnecter</a>
	</div>
	<div class="filtrer-recherche">
		<a href="{{path('app_utilisateur_accueil')}}">
			<iconify-icon id="arrow" icon="fe:arrow-left"></iconify-icon>
		</a>
		<h1>Toilettes</h1>
		<div class="identify" onclick="openSidebar()">
			<h1>{{utilisateur.nom|first|upper}}</h1>
		</div>
	</div>
	<div class="container">
		<div class="info">
			<div class="nom-star">
				<p>Nom</p>
				<div class="star">
						{% if moyenNote == -1 %}
							<p>Ajouter un commentaire</p>
						{% elseif moyenNote == 0 %}
							{% for _ in 1..5 %}
								<iconify-icon class="s-no-filter-star" icon="ion:star"></iconify-icon>
							{% endfor %}
						{% elseif moyenNote == 5 %}
							{% for _ in 1..moyenNote %}
								<iconify-icon class="s-filter-star" icon="ion:star"></iconify-icon>
							{% endfor %}
						{% else %}
							{% for _ in 1..moyenNote %}
								<iconify-icon class="s-filter-star" icon="ion:star"></iconify-icon>
							{% endfor %}
							{% for _ in 1..5-moyenNote %}
								<iconify-icon class="s-no-filter-star" icon="ion:star"></iconify-icon>
							{% endfor %}
						{% endif %}
				</div>
			</div>
			<h1>{{toilette.nom}}</h1>
			<p>Adresse / Code postal</p>
			<h2>{{toilette.adresse}}</h2>
			<h2>{{toilette.codepost}}</h2>
			<p>Informations</p>
			<h2>{{toilette.infoloc}}</h2>
			<div class="com-btn">
				<p>Commentaire</p>
				{% if userComment != null %}
					<a href="{{path('app_comment_edit', {'cid': userComment.id })}}" class="button3">Modifier</a>
				{% else %}
					<a href="{{path('app_comment_new',{'tid': toilette.uid })}}" class="button3">Ajouter</a>
				{% endif %}

			</div>
		</div>
		{% for comment in comments %}
			<div class="commentaire">
				<div class="i-date">
					<div class="small-identify">
						<h4>{{comment.idUtilisateur.nom|first|upper}}</h4>
					</div>
					<h4>{{comment.dateCommentaire|date('Y-m-d')}}</h4>
					<div class="star">
						{% if comment.note == 0 %}
							{% for _ in 1..5 %}
								<iconify-icon class="s-no-filter-star" icon="ion:star"></iconify-icon>
							{% endfor %}
						{% elseif comment.note == 5 %}
							{% for _ in 1..comment.note %}
								<iconify-icon class="s-filter-star" icon="ion:star"></iconify-icon>
							{% endfor %}
						{% else %}
							{% for _ in 1..comment.note %}
								<iconify-icon class="s-filter-star" icon="ion:star"></iconify-icon>
							{% endfor %}
							{% for _ in 1..5-comment.note %}
								<iconify-icon class="s-no-filter-star" icon="ion:star"></iconify-icon>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="check-commentaire">
					{% if comment.enPanne == 1 %}
						<p>En panne</p>
					{% endif %}
					{% if comment.nExistePlus == 1 %}
						<p>N'existe plus</p>
					{% endif %}
					{% if comment.accesHandicape == 1 %}
						<p>Accès handicapé</p>
					{% endif %}
				</div>
				<p>{{comment.commentaire}}</p>
			</div>
		{% endfor %}
	</div>
</div>{% endblock %}
